:root {
  --background-color: #5f388b;
  --secondary-color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.card {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.8rem #0001;
}

.code,
#cover {
  position: absolute;
  width: 100%;
  height: 100%;
}
#imageShow {
  height: 100%;
  width: 100%;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cover {
  outline: 1rem dotted var(--background-color);
  outline-offset: -0.5rem;
  filter: drop-shadow(0 0 0 var(--background-color));
}

button {
  height: 55px;
  width: 180px;
  border: none;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  background-image: linear-gradient(pink, rgba(255, 0, 255, 0.767));
  outline: 1rem dotted var(--background-color);
  outline-offset: -0.5rem;
}
.button-container {
  margin-top: 30px;
  height: 150px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.head-container {
  height: 150px;
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.main-logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

@media only screen and (max-width: 550px) {
  h2 {
    font-size: 20px;
  }
  .main-logo {
    height: 60px;
    width: 60px;
  }
  .card {
    width: 15rem;
    height: 15rem;
  }
  .button-container {
    margin-top: 70px;
    height: 150px;
    font-size: 20px;
  }
  button {
    height: 45px;
    width: 130px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 15px;
  }
  .main-logo {
    height: 45px;
    width: 45px;
  }
  .card {
    width: 12rem;
    height: 12rem;
  }
  .button-container {
    margin-top: 70px;
    height: 150px;
    font-size: 17px;
  }
  button {
    height: 40px;
    width: 100px;
    font-size: 15px;
  }
}
